# Consultas Integradas

Este notebook tiene el fin de generar las consultas planteadas en el trabajo práctico integrador

#### Importo librerias

In [116]:
# Limpia todas las variables existentes
%reset -f

# Habilita autoreload para recargar automáticamente todos los módulos
%load_ext autoreload
%autoreload 2

In [117]:
import os
from pathlib import Path
import pandas as pd
from pymongo.errors import ConnectionFailure

from db_connections import client, db_neo4j, db_redis
from src import mongo, neo4j, utils, redis

In [118]:
# =====================
# TEST DE CONEXIONES
# =====================

#Conecto con MongoDB
try:
    client.admin.command("ping")  # fuerza conexión al servidor
    print("✅ Conexión a MongoDB verificada.")
except ConnectionFailure as e:
    print(f"❌ Falló la conexión: {type(e).__name__} - {e}")

#Conecto con Neo4j
try:
    db_neo4j.verify_connectivity()
    print("✅ Conexión a Neo4j verificada.")
except Exception as e:
    print(f"❌ Error de conexión: {type(e).__name__} - {e}")

#Conecto con Redis
try:
    db_redis.ping()
    print("✅ Conexión a Redis verificada.")
except Exception as e:
    print(f"❌ Error de conexión: {type(e).__name__} - {e}")

✅ Conexión a MongoDB verificada.
✅ Conexión a Neo4j verificada.
✅ Conexión a Redis verificada.

## A.Mostrar los usuarios que visitaron “Bariloche”.

In [119]:
query = """ 
MATCH (U:Usuario)-[:VISITO]->(D:Destino)
WHERE D.ciudad='La Plata'
RETURN DISTINCT U.usuario_id AS id, U.nombre AS Nombre, U.apellido AS Apellido
"""

usuarios = neo4j.consulta(db_neo4j, query)
usuarios

   id    Nombre Apellido
0  25   Agapito   Sedano
1  45   Candela   Solano
2  53    Ovidio   Romero
3  48  Fernanda   Romero
4  42    Eliseo  Sobrino

### B.Mostrar los amigos de Juan que visitaron algún destino que visitó él, mostrar el nombre del Usuario y el destino.

In [120]:
import pandas as pd

# Pedimos el nombre del usuario
nombre_usuario = input("Introduce tu nombre para saber qué lugares visitaste con tus amigos: ")

# Query Cypher corregida: el parámetro se llama $nombre
query = """
MATCH (u:Usuario {nombre: $nombre})-[:AMIGO_DE]-(amigo:Usuario)
MATCH (u)-[:VISITO]->(d:Destino)<-[:VISITO]-(amigo)
RETURN 
    amigo.nombre AS Nombre,
    collect(DISTINCT d.ciudad) AS Destinos_Compartidos
ORDER BY Nombre
"""

# Mensaje de encabezado
print("\n" + "-"*60)
print(f"{nombre_usuario.upper()} TUS AMIGOS VISITARON ESTOS MISMOS DESTINOS QUE TÚ")
print("-"*60 + "\n")

# Ejecutamos la consulta usando la función consulta() que devuelve un DataFrame
usuarios = neo4j.consulta(db_neo4j, query, parametros={"nombre": nombre_usuario})

# Mostramos el resultado
if usuarios.empty:
    print("No se encontraron amigos que hayan visitado los mismos destinos.")
else:
    print(usuarios)

------------------------------------------------------------
OMAR TUS AMIGOS VISITARON ESTOS MISMOS DESTINOS QUE TÚ
------------------------------------------------------------

      Nombre                               Destinos_Compartidos
0    Agapito          [Neuquén, Posadas, Formosa, Gualeguaychú]
1      Coral             [Rosario, Formosa, Gualeguaychú, CABA]
2   Fernanda       [El Calafate, Salta, Neuquén, Mar del Plata]
3  Juan José  [Santiago del Estero, Rosario, El Calafate, Sa...
4   Maricela  [Salta, San Martín de los Andes, Posadas, San ...
5   Mercedes  [El Calafate, Neuquén, Posadas, Gualeguaychú, ...
6     Pastor                    [El Calafate, Neuquén, Mendoza]
7     Sabina           [Rosario, Salta, Neuquén, Mar del Plata]

### C. Sugerir destinos a un usuario que no haya visitado él ni sus amigos.

In [121]:
nombre_usuario = input("Introduce tu nombre para saber qué lugares nuevos que no visitaste ni tu ni tus amigos: ")

query = """
MATCH (d:Destino)
WHERE 
NOT EXISTS {MATCH (d)<-[:VISITO]-(u:Usuario {nombre: $nombre})}
AND 
NOT EXISTS {MATCH (d)<-[:VISITO]-(:Usuario)-[:AMIGO_DE]-(:Usuario {nombre: $nombre})}
RETURN DISTINCT d.ciudad AS Destinos_No_Visitados
ORDER BY d.ciudad
"""

print("\n" + "-"*60)
print(f"DESTINOS NUEVOS PARA {nombre_usuario.upper()} Y SUS AMIGOS")
print("-"*60 + "\n")

destinos = neo4j.consulta(db_neo4j, query, parametros={"nombre": nombre_usuario})

if destinos.empty:
    print("No hay destinos nuevos disponibles.")
else:
    # Mostrar cada destino en lista
    for d in destinos['Destinos_No_Visitados']:
        print(f"- {d}")

------------------------------------------------------------
DESTINOS NUEVOS PARA OMAR Y SUS AMIGOS
------------------------------------------------------------

- Concordia
- Corrientes
- La Rioja
- Merlo
- San Luis
- Villa Carlos Paz

## d. Recomendar destinos basados en viajes de amigos.

In [122]:
nombre_usuario = input("Introduce tu nombre para saber qué lugares te recomendamos: ")

query = """
MATCH (u:Usuario {nombre:$nombre})-[:AMIGO_DE]-(amigo:Usuario)
MATCH (amigo)-[:VISITO]->(d:Destino)
WHERE NOT (u)-[:VISITO]->(d)   
RETURN DISTINCT d.ciudad AS Destino_Recomendado
ORDER BY d.ciudad
"""

print("\n" + "-"*60)
print(f"RECOMENDACIONES PARA {nombre_usuario.upper()} EN FUNCIÓN DE SUS AMIGOS")
print("-"*60 + "\n")

destinos = neo4j.consulta(db_neo4j, query, parametros={"nombre": nombre_usuario})

if destinos.empty:
    print("No hay destinos recomendados nuevos para vos.")
else:
    for d in destinos['Destino_Recomendado']:
        print(f"- {d}")

------------------------------------------------------------
RECOMENDACIONES PARA OMAR EN FUNCIÓN DE SUS AMIGOS
------------------------------------------------------------

- Bariloche
- Chilecito
- Córdoba
- Iguazú
- La Plata
- Paraná
- Puerto Madryn
- Resistencia
- Río Cuarto
- Río Gallegos
- San Fernando
- San Juan
- San Miguel de Tucumán
- San Salvador de Jujuy
- Santa Fe
- Santa Rosa
- Ushuaia
- Viedma

## e. Listar los hoteles en los destinos recomendados del punto anterior.

In [123]:
nombre_base = "clase"
coleccion = "hoteles"

# Lista de destinos recomendados
lista_destinos = destinos["Destino_Recomendado"].dropna().unique().tolist()

if not lista_destinos:
    print("No hay destinos recomendados disponibles.")
else:
    filtro = {"ciudad": {"$in": lista_destinos}}
    proyeccion = {"_id": 0, "nombre": 1, "ciudad": 1, "direccion": 1}

    # Obtener datos de Mongo y convertir a DataFrame
    cursor = mongo.obtener_cursor(
        nombre_base=nombre_base,
        nombre_coleccion=coleccion,
        filtro=filtro,
        proyeccion=proyeccion
    )

    hoteles = pd.DataFrame(list(cursor))

    if hoteles.empty:
        print("No se encontraron hoteles en los destinos recomendados.")
    else:
        # Ordenar por ciudad y luego por nombre de hotel
        hoteles.sort_values(by=["ciudad", "nombre"], inplace=True)
        print(hoteles.to_string(index=False))

                                     nombre                ciudad
        Banca Privada Castellana S.L. Hotel             Bariloche
           Consultoría del Norte S.A. Hotel             Bariloche
              Gaya y asociados S.Com. Hotel             Bariloche
            Palmer & Asociados S.Com. Hotel             Bariloche
         Promociones Españolas S.L.U. Hotel             Bariloche
             Distribuciones Díez S.A. Hotel             Chilecito
        Hernando y Valenciano S.L.N.E Hotel             Chilecito
                     Hotel Serra S.L. Hotel             Chilecito
        José Mari Agustí Sola S.L.N.E Hotel             Chilecito
                 Hermanos Arjona S.L. Hotel               Córdoba
              Ibáñez & Asociados S.A. Hotel               Córdoba
       Jennifer Mateu Quevedo S.L.N.E Hotel               Córdoba
             Tecnologías Villena S.L. Hotel               Córdoba
          Urbano Bernat Ariño S.L.N.E Hotel               Córdoba
 Tecnologías Marquez y asociados S.L. Hotel                Iguazú
             Valls y asociados S.L.L. Hotel                Iguazú
           Espinosa & Asociados S.C.P Hotel              La Plata
               Hermanos Soria S.Coop. Hotel              La Plata
              Buendía y Gomila S.L.U. Hotel                Paraná
  Distribuciones Inteligentes S.Coop. Hotel                Paraná
Inmobiliaria Ribes y asociados S.L.U. Hotel                Paraná
             Talleres Globales S.Com. Hotel                Paraná
                  Talleres HI S.L.N.E Hotel                Paraná
              Inversiones Malo S.Com. Hotel         Puerto Madryn
           Calisto Guillen Lamas S.L. Hotel           Resistencia
           Inmobiliaria Cisneros S.A. Hotel           Resistencia
        Suministros Españolas S.Coop. Hotel           Resistencia
          Carmona y asociados S.L.N.E Hotel            Río Cuarto
            Distribuciones VZI S.Com. Hotel            Río Cuarto
                    Hnos Borja S.Com. Hotel            Río Cuarto
                      Hnos Reyes S.A. Hotel            Río Cuarto
            Valentín y asociados S.L. Hotel            Río Cuarto
                  Fábrica XLR S.Coop. Hotel          Río Gallegos
       Talleres Vega y asociados S.A. Hotel          Río Gallegos
     Compañía Crespo & Asociados S.A. Hotel          San Fernando
            Distribuciones VJ S.Coop. Hotel          San Fernando
                 Familia Galiano S.L. Hotel          San Fernando
                 Grupo Maldonado S.L. Hotel          San Fernando
               Campoy y Trujillo S.L. Hotel              San Juan
                Familia Tejero S.L.L. Hotel              San Juan
                 Hermanos Sedano S.L. Hotel              San Juan
         Ballesteros y Aguilera S.A.D Hotel San Miguel de Tucumán
  Transportes Águila y asociados S.A. Hotel San Miguel de Tucumán
          Comercializadora Soria S.L. Hotel San Salvador de Jujuy
                 Familia Guitart S.L. Hotel San Salvador de Jujuy
     Hotel Botella y asociados S.L.U. Hotel San Salvador de Jujuy
 Manufacturas Puga & Asociados S.L.L. Hotel San Salvador de Jujuy
           Moliner y Torrents S.L.N.E Hotel San Salvador de Jujuy
                    Amo y Lastra S.A. Hotel              Santa Fe
               Familia Garrido S.Com. Hotel              Santa Fe
 Inversiones Nicolás y asociados S.A. Hotel              Santa Fe
                 Servicios Baños S.A. Hotel              Santa Fe
               Hermanos Palmer S.Com. Hotel            Santa Rosa
                Supermercados KU S.A. Hotel            Santa Rosa
       Consultoría del Levante S.Com. Hotel               Ushuaia
            Alimentación Lluch S.L.L. Hotel                Viedma
              Desarrollo Ibérica S.A. Hotel                Viedma
              Desarrollo Iglesia S.L. Hotel                Viedma
              Fábrica Ibéricos S.Com. Hotel                Viedma

## f.Ver las reservas en proceso, es decir que aún no están concretadas.

## g. Listar los usuarios conectados actualmente.

###### h. Mostrar los destinos con precio inferior a $100.000

## i. Mostrar todos los Hoteles de “Jujuy”.

In [18]:
nombre_base = "clase"
coleccion = "hoteles"

# Lista de destinos recomendados
ciudad = ["San Salvador de Jujuy"]

if not lista_destinos:
    print("No hay destinos recomendados disponibles.")
else:
    filtro = {"ciudad": {"$in": ciudad}}
    proyeccion = {"_id": 0, "nombre": 1, "ciudad": 1, "direccion": 1}

    # Obtener datos de Mongo y convertir a DataFrame
    cursor = mongo.obtener_cursor(
        nombre_base=nombre_base,
        nombre_coleccion=coleccion,
        filtro=filtro,
        proyeccion=proyeccion
    )

    hoteles = pd.DataFrame(list(cursor))

    if hoteles.empty:
        print("No se encontraron hoteles en los destinos recomendados.")
    else:
        # Ordenar por ciudad y luego por nombre de hotel
        hoteles.sort_values(by=["nombre"], inplace=True)
        print(hoteles.to_string(index=False))

                                    nombre                ciudad
         Comercializadora Soria S.L. Hotel San Salvador de Jujuy
                Familia Guitart S.L. Hotel San Salvador de Jujuy
    Hotel Botella y asociados S.L.U. Hotel San Salvador de Jujuy
Manufacturas Puga & Asociados S.L.L. Hotel San Salvador de Jujuy
          Moliner y Torrents S.L.N.E Hotel San Salvador de Jujuy

###### j. Mostrar la cantidad de hoteles de un destino que guste.

In [125]:
nombre_base = "clase"
coleccion = "hoteles"
agrupacion="destino"
campo_calculo="nombre"
operacion="sum"
cursor=contador(nombre_base, coleccion, agrupacion, campo_calculo, operacion)
df=pd.DataFrame(list(cursor))
df

NameError: name 'contador' is not defined

###### k. Mostrar las actividades de “Ushuaia” del tipo “aventura”.

###### l. Mostrar la cantidad de reservas concretadas de cada usuario. Mostrar el usuario y la cantidad

#### Estadísticas

###### i.Destino más visitado

###### ii.Hotel más barato

###### iii.Actividad más popular.

#### Modificaciones

###### a.Incrementar el precio de las actividades de Tucuman en 5%

###### b. Agregar al hotel id=1 el servicio de SPA

###### c. Eliminar el destino que desee

###### d. Eliminar un usuario que desee

###### e. Eliminar las relaciones AMIGO_DE para un usuario que quiera.