# Consultas Integradas

Este notebook tiene el fin de generar las consultas planteadas en el trabajo práctico integrador

#### Importo librerias

In [83]:
# Limpia todas las variables existentes
%reset -f

# Habilita autoreload para recargar automáticamente todos los módulos
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [84]:
import os
from pathlib import Path
import pandas as pd
from pymongo.errors import ConnectionFailure
from db_connections import client, db_neo4j, db_redis
from src import mongo, neo4j, utils, redis
from IPython.display import display

In [85]:
# =====================
# TEST DE CONEXIONES
# =====================

#Conecto con MongoDB
try:
    client.admin.command("ping")  # fuerza conexión al servidor
    print("✅ Conexión a MongoDB verificada.")
except ConnectionFailure as e:
    print(f"❌ Falló la conexión: {type(e).__name__} - {e}")

#Conecto con Neo4j
try:
    db_neo4j.verify_connectivity()
    print("✅ Conexión a Neo4j verificada.")
except Exception as e:
    print(f"❌ Error de conexión: {type(e).__name__} - {e}")

#Conecto con Redis
try:
    db_redis.ping()
    print("✅ Conexión a Redis verificada.")
except Exception as e:
    print(f"❌ Error de conexión: {type(e).__name__} - {e}")

✅ Conexión a MongoDB verificada.
✅ Conexión a Neo4j verificada.
✅ Conexión a Redis verificada.

### A.Mostrar los usuarios que visitaron “Bariloche”.

In [55]:
query = """ 
MATCH (U:Usuario)-[:VISITO]->(D:Destino)
WHERE D.ciudad='La Plata'
RETURN U.nombre AS Nombre, U.apellido AS Apellido
"""

usuarios = neo4j.consulta(db_neo4j, query)
usuarios

print("\n" + "-"*60)
print("USUARIOS QUE VISITARON BARILOCHE")
print("-"*60)
display(usuarios.style.hide(axis="index"))

------------------------------------------------------------
USUARIOS QUE VISITARON BARILOCHE
------------------------------------------------------------

### B.Mostrar los amigos de Juan que visitaron algún destino que visitó él, mostrar el nombre del Usuario y el destino.

In [56]:
import pandas as pd

# Pedimos el nombre del usuario
nombre_usuario = input("Introduce tu nombre para saber qué lugares visitaste con tus amigos: ")


query = """
MATCH (u:Usuario)
WHERE toLower(u.nombre) CONTAINS toLower($nombre)
MATCH (u)-[:AMIGO_DE]-(amigo:Usuario)
MATCH (u)-[:VISITO]->(d:Destino)<-[:VISITO]-(amigo)
RETURN 
    amigo.nombre AS Nombre,
    collect(DISTINCT d.ciudad) AS Destinos_Compartidos
ORDER BY Nombre
"""

#Encabezado
print("\n" + "-"*60)
print(f"{nombre_usuario.upper()} TUS AMIGOS VISITARON ESTOS MISMOS DESTINOS QUE TÚ")
print("-"*60 + "\n")

# Ejecutamos la consulta usando la función consulta() que devuelve un DataFrame
usuarios = neo4j.consulta(db_neo4j, query, parametros={"nombre": nombre_usuario})

# Convertimos listas a texto legible
usuarios["Destinos_Compartidos"] = usuarios["Destinos_Compartidos"].apply(
    lambda lista: ", ".join(lista) if isinstance(lista, list) else lista
)



# Mostramos el resultado
if usuarios.empty:
    print("No se encontraron amigos que hayan visitado los mismos destinos.")
else:
    display(usuarios.style.hide(axis="index"))

------------------------------------------------------------
JUAN TUS AMIGOS VISITARON ESTOS MISMOS DESTINOS QUE TÚ
------------------------------------------------------------

### C. Sugerir destinos a un usuario que no haya visitado él ni sus amigos.

In [57]:
nombre_usuario = input("Introduce tu nombre para saber qué lugares nuevos que no visitaste ni tu ni tus amigos: ")

query = """
MATCH (u:Usuario)
WHERE toLower(u.nombre) CONTAINS toLower($nombre)
MATCH (d:Destino)
WHERE 
  NOT EXISTS { MATCH (d)<-[:VISITO]-(u) } AND
  NOT EXISTS { MATCH (d)<-[:VISITO]-(u)-[:AMIGO_DE]-(amigo) }
RETURN DISTINCT d.ciudad AS Destinos_No_Visitados
ORDER BY d.ciudad
"""

print("\n" + "-"*60)
print(f"DESTINOS NUEVOS PARA {nombre_usuario.upper()} Y SUS AMIGOS")
print("-"*60 + "\n")

destinos = neo4j.consulta(db_neo4j, query, parametros={"nombre": nombre_usuario})

if destinos.empty:
    print("No hay destinos nuevos disponibles.")
else:
    # Mostrar cada destino en lista
     display(destinos.style.hide(axis="index"))

------------------------------------------------------------
DESTINOS NUEVOS PARA JUAN Y SUS AMIGOS
------------------------------------------------------------

### d. Recomendar destinos basados en viajes de amigos.

In [58]:
nombre_usuario = input("Introduce tu nombre para saber qué lugares te recomendamos: ")

query = """
MATCH (u:Usuario)
WHERE toLower(u.nombre) CONTAINS toLower($nombre)
MATCH (u)-[:AMIGO_DE]-(amigo:Usuario)
MATCH (amigo)-[:VISITO]->(d:Destino)
WHERE NOT EXISTS { MATCH (u)-[:VISITO]->(d) } 
RETURN DISTINCT d.ciudad AS Destino_Recomendado
ORDER BY d.ciudad
"""

print("\n" + "-"*60)
print(f"RECOMENDACIONES PARA {nombre_usuario.upper()} EN FUNCIÓN DE SUS AMIGOS")
print("-"*60 + "\n")

destinos = neo4j.consulta(db_neo4j, query, parametros={"nombre": nombre_usuario})

if destinos.empty:
    print("No hay destinos recomendados nuevos para vos.")
else:
    display(destinos.style.hide(axis="index"))

------------------------------------------------------------
RECOMENDACIONES PARA JUAN EN FUNCIÓN DE SUS AMIGOS
------------------------------------------------------------

### e. Listar los hoteles en los destinos recomendados del punto anterior.

In [59]:
nombre_base = "clase"
coleccion = "hoteles"

# Lista de destinos recomendados
lista_destinos = destinos["Destino_Recomendado"].dropna().unique().tolist()

if not lista_destinos:
    print("No hay destinos recomendados disponibles.")
else:
    filtro = {"ciudad": {"$in": lista_destinos}}
    proyeccion = {"_id": 0, "nombre": 1, "ciudad": 1, "direccion": 1}

    # Obtener datos de Mongo y convertir a DataFrame
    cursor = mongo.obtener_cursor(
        nombre_base=nombre_base,
        nombre_coleccion=coleccion,
        filtro=filtro,
        proyeccion=proyeccion
    )

    hoteles = pd.DataFrame(list(cursor))

    if hoteles.empty:
        print("No se encontraron hoteles en los destinos recomendados.")
    else:
        # Ordenar por ciudad y luego por nombre de hotel
        display(hoteles.style.hide(axis="index"))

### f. Ver las reservas en proceso, es decir que aún no están concretadas.

In [60]:
claves = db_redis.keys("reserva_temp:*")
print(f"Cantidad de reservas en proceso {len(claves)}\n")

if claves:
    cantidad = int(input ("¿Cuántas se desean listar?"))
    print(f"Se imprimen las primeras {cantidad}:")
    for clave in claves[:cantidad]:
        datos = db_redis.hgetall(clave)
        tiempo_restante = db_redis.ttl(clave)
        print(f"{clave}: {datos} | TTL: {tiempo_restante} segundos")

Cantidad de reservas en proceso 408

Se imprimen las primeras 2:
reserva_temp:1469: {'usuario_id': '17', 'destino_id': '25', 'fecha_reserva': '2025-08-15', 'precio_total': '130733'} | TTL: 3535 segundos
reserva_temp:1386: {'usuario_id': '58', 'destino_id': '24', 'fecha_reserva': '2025-04-10', 'precio_total': '67092'} | TTL: 3535 segundos

### g. Listar los usuarios conectados actualmente.

In [61]:
claves = db_redis.keys("usuario:*:sesion")
print(f"Cantidad de usuarios conectados {len(claves)}\n")

if claves:
    print("Usuarios:")
    for clave in claves:
        usuario_id = clave.split(":")[1]
        estado = db_redis.get(clave)
        tiempo_restante = db_redis.ttl(clave)
        print(f"Usuario {usuario_id} → sesión: {estado} | TTL: {tiempo_restante} segundos")

Cantidad de usuarios conectados 15

Usuarios:
Usuario 37 → sesión: activa | TTL: 3509 segundos
Usuario 49 → sesión: activa | TTL: 3509 segundos
Usuario 1 → sesión: activa | TTL: 3509 segundos
Usuario 32 → sesión: activa | TTL: 3509 segundos
Usuario 53 → sesión: activa | TTL: 3509 segundos
Usuario 34 → sesión: activa | TTL: 3509 segundos
Usuario 55 → sesión: activa | TTL: 3509 segundos
Usuario 4 → sesión: activa | TTL: 3509 segundos
Usuario 51 → sesión: activa | TTL: 3509 segundos
Usuario 14 → sesión: activa | TTL: 3509 segundos
Usuario 46 → sesión: activa | TTL: 3509 segundos
Usuario 6 → sesión: activa | TTL: 3509 segundos
Usuario 58 → sesión: activa | TTL: 3509 segundos
Usuario 13 → sesión: activa | TTL: 3509 segundos
Usuario 47 → sesión: activa | TTL: 3509 segundos

### h. Mostrar los destinos con precio inferior a $100.000

In [62]:
precio=100000
base = "clase"
coleccion = "destinos"
filtro={"precio_promedio": {"$lt": precio}}
proyeccion = {"_id":0}

# Busca en caché y sino consulta en MongoDB
resultado = redis.obtener_cache(coleccion, filtro)
if resultado is None:
    print("Consulta hecha en Mongo")
    cursor = mongo.obtener_cursor(base,coleccion,filtro=filtro,proyeccion=proyeccion)
    resultado = list(cursor)
    if resultado:
        redis.guardar_en_cache(coleccion,filtro,resultado,ttl=300)
else:
    print("Consulta hecha en Redis")
        
df = pd.DataFrame(resultado)
if not df.empty:
    df_ordenado = df.sort_values(by="destino_id")
    display(df_ordenado.style.hide(axis="index"))
else:
    print(f"No existen destinos con precio inferior a {precio}")

Consulta hecha en Mongo

## i. Mostrar todos los Hoteles de “Jujuy”.

In [63]:
nombre_base = "clase"
coleccion = "hoteles"
ciudad = "San Salvador de Jujuy"
filtro = {"ciudad": ciudad}
proyeccion = {"_id": 0, "nombre": 1, "ciudad": 1, "direccion": 1}

# Busca en caché y sino consulta en MongoDB
resultado = redis.obtener_cache(coleccion, filtro)
if resultado is None:
    print("Consulta hecha en Mongo")
    cursor = mongo.obtener_cursor(nombre_base=nombre_base,nombre_coleccion=coleccion,filtro=filtro,proyeccion=proyeccion)
    resultado = list(cursor)
    if resultado:
        redis.guardar_en_cache(coleccion,filtro,resultado,ttl=300)
else:
    print("Consulta hecha en Redis")

df_hoteles = pd.DataFrame(resultado)

if not df_hoteles.empty:
    df_ordenado = df_hoteles.sort_values(by="nombre")
    display(df_ordenado.style.hide(axis="index"))
else:
     print("No se encontraron hoteles en los destinos recomendados.")

Consulta hecha en Mongo

## j. Mostrar la cantidad de hoteles de un destino que guste.

In [64]:
import pandas as pd

# 1️⃣ Pedimos al usuario el tipo de agrupación y el valor a buscar
agrupar = input("¿Querés agrupar por 'provincia' o 'ciudad'? ").strip().lower()
lugar = input(f"Introduce el nombre de la {agrupar}: ").strip()

# 2️⃣ Definimos el filtro dinámico según la elección
filtro = {agrupar: lugar}

# 3️⃣ Si el usuario elige 'provincia', agrupamos por ciudad dentro de esa provincia
if agrupar == "provincia":
    campo_agrupacion = "ciudad"
else:
    campo_agrupacion = agrupar

# 4️⃣ Ejecutamos la función para contar hoteles
cursor = mongo.contador(
    nombre_base="clase",
    coleccion="hoteles",
    agrupacion=campo_agrupacion,
    campo_calculo="hotel_id",
    filtrar=filtro
)

# 5️⃣ Convertimos el cursor a DataFrame
hoteles = pd.DataFrame(cursor)

# 6️⃣ Mostramos resultados
if agrupar == "provincia":
    print(f"\n📍 Hoteles por ciudad dentro de la provincia {lugar.title()}:\n")
else:
    print(f"\n Cantidad de hoteles en la ciudad {lugar.title()}:\n")

display(hoteles)

 Cantidad de hoteles en la ciudad L:

Empty DataFrame
Columns: []
Index: []

### k. Mostrar las actividades de “Ushuaia” del tipo “aventura”.

In [65]:
nombre_base = "clase"
coleccion = "actividades"
tipo="aventura"
ciudad="Ushuaia"
filtro = {"ciudad":ciudad,"tipo":tipo}
proyeccion = {"_id":0}

resultado = redis.obtener_cache(coleccion, filtro)
if resultado is None:
    cursor = mongo.obtener_cursor(base,coleccion,filtro=filtro,proyeccion=proyeccion)
    print("Consulta hecha en Mongo")
    resultado = list(cursor)
    if resultado:
        redis.guardar_en_cache(coleccion,filtro,resultado,ttl=300)
else:
    print("Consulta hecha en Redis")
    
df = pd.DataFrame(resultado)
if not df.empty:
    df_ordenado = df.sort_values(by="actividad_id")
    display(df_ordenado.style.hide(axis="index"))
else:
    print(f"No existen actividades de tipo {tipo} en {ciudad}")

Consulta hecha en Mongo
No existen actividades de tipo aventura en Ushuaia

### l. Mostrar la cantidad de reservas concretadas de cada usuario. Mostrar el usuario y la cantidad

In [66]:
nombre_base = "clase"
coleccion = "reservas"
db = client[nombre_base]
estados = ["Confirmada","Pagada"]
filtro = {"estado": {"$in":estados}}

pipeline =[ 
    {"$match": filtro},
    {"$group": {
        "_id": "$usuario_id",  # este es el ID del usuario
        "Reservas_concretadas": {"$sum": 1}
    }},
    {"$lookup": {
        "from": "usuarios",           # nombre de la colección a unir
        "localField": "_id",          # campo en esta colección (el ID del usuario)
        "foreignField": "usuario_id",        # campo en la colección "usuarios"
        "as": "usuario_info"          # nombre del nuevo campo con los datos del usuario
    }},
    {"$unwind": "$usuario_info"},     # desanida el array para acceder directamente
    {"$project": {
        "_id": 0,
        "Nombre": "$usuario_info.nombre",
        "Apellido": "$usuario_info.apellido",
        "Reservas_concretadas": 1
    }},
    {"$sort": {"Reservas_concretadas": -1}}
]

resultado = redis.obtener_cache(coleccion, filtro)
if resultado is None:
    print("Consulta hecha en Mongo")
    cursor = db[coleccion].aggregate(pipeline)
    resultado = list(cursor)
    if resultado:
        redis.guardar_en_cache(coleccion,filtro,resultado,ttl=300)
else:
    print("Consulta hecha en Redis")
        
df = pd.DataFrame(resultado)
df = df[["Nombre", "Apellido", "Reservas_concretadas"]]
display(df.style.hide(axis="index"))

Consulta hecha en Mongo

#### Estadísticas

###### i.Destino más visitado

In [71]:
nnombre_base = "clase"
coleccion = "reservas"
db = client[nombre_base]
estados = ["Confirmada","Pagada"]
filtro = {"estado": {"$in":estados}}

pipeline =[ 
    {"$match": filtro},
    {"$group": {
        "_id": "$destino_id",  # este es el ID del destino
        "Cantidad_Visitas": {"$sum": 1}
    }},
    {"$lookup": {
        "from": "destinos",           # nombre de la colección a unir
        "localField": "_id",          # campo en esta colección (el ID del destino)
        "foreignField": "destino_id",        # campo en la colección "usuarios"
        "as": "destino_visitas"          # nombre del nuevo campo con los datos del usuario
    }},
    {"$unwind": "$destino_visitas"},     # desanida el array para acceder directamente
    {"$project": {
        "_id": 0,
        "Destino": "$destino_visitas.ciudad",
        "Cantidad_Visitas": 1
    }},
    {"$sort": {"Cantidad_Visitas": -1}},
    {"$limit": 1}
]

cursor = db[coleccion].aggregate(pipeline)
resultado = list(cursor)

      
df = pd.DataFrame(resultado)
df = df[["Destino", "Cantidad_Visitas"]]
print("Destino mas vistado")
display(df.style.hide(axis="index"))

Destino mas vistado

###### ii.Hotel más barato

In [78]:
nombre_base = "clase"
coleccion = "reservas"
db = client[nombre_base]
estados = ["Confirmada","Pagada"]
filtro = {"estado": {"$in":estados}}

pipeline =[ 
    {"$match": filtro},
    {"$group": {
        "_id": "$hotel_id",  # este es id del hotel
        "Precio_minimo": {"$min": "$precio_total"} #el minimo del campo precio_total
    }},
    {"$lookup": {
        "from": "hoteles",           # nombre de la colección a unir
        "localField": "_id",          # campo en esta colección (el ID del destino)
        "foreignField": "hotel_id",        # campo en la colección "usuarios"
        "as": "hoteles_min_precios"          # nombre del nuevo campo con los datos del usuario
    }},
    {"$unwind": "$hoteles_min_precios"},     # desanida el array para acceder directamente
    {"$project": {
        "_id": 0,
        "Hotel": "$hoteles_min_precios.nombre",
        "Ciudad": "$hoteles_min_precios.ciudad",
        "Precio_minimo": 1
    }},
    {"$sort": {"Precio_minimo": 1}},
    {"$limit": 1}
]

cursor = db[coleccion].aggregate(pipeline)
resultado = list(cursor)

      
df = pd.DataFrame(resultado)
df = df[["Hotel", "Ciudad","Precio_minimo"]]
print("Hotel mas barato")
display(df.style.hide(axis="index"))

Hotel mas barato

###### iii.Actividad más popular.

#### Modificaciones

###### a.Incrementar el precio de las actividades de Tucuman en 5%

In [80]:

# Ejemplo: destino más visitado import
import matplotlib.pyplot as plt

In [82]:
nombre_base = "clase"
coleccion = "reservas"
db = client[nombre_base]
# Obtener conteo de reservas por destino (Mongo)
agg = list(db.reservas.aggregate([{'$group':
{'_id':'$destino_id', 'cantidad': {'$sum':1}}}]))
# Mapear destino_id a ciudad
id_to_ciudad = {d['destino_id']: d['ciudad'] for d in
destinos}
ciudades = [id_to_ciudad.get(a['_id'], str(a['_id']))
for a in agg]
valores = [a['cantidad'] for a in agg]
plt.figure(figsize=(6,3))
plt.bar(ciudades, valores)
plt.title('Reservas por destino')
plt.ylabel('Cantidad reservas')
plt.show()

TypeError: string indices must be integers, not 'str'

###### b. Agregar al hotel id=1 el servicio de SPA

###### c. Eliminar el destino que desee

###### d. Eliminar un usuario que desee

###### e. Eliminar las relaciones AMIGO_DE para un usuario que quiera.